.MainChat
  .RightHeader
    .RightHeader__leftBox
      .RightHeader__currentGroup kari
      %ul.RightHeader__memberList
        Member :
        %li.RightHeader__member kami
    = link_to "#", class: "RightHeader__editBtn" do
      Edit
  .MessageList
    .MessageList__messageBox
      %ul.MessageList__name
        karikari
        %li.MessageList__date
          2020/11/28(Sut) 14:01
      .MessageList__message
        おはよう！
    .MessageList__messageBox
      %ul.MessageList__name
        karikari
        %li.MessageList__date
          2020/11/28(Sut) 14:01
      .MessageList__message
        aaaaaaaaaaaaaaaaaaa
        %br/
        aaaaaaaaaaaaaaaa
        %br/ 
        aaaaaaaaaaaa
        %br/
        aaaaaaaaaaaaaaaaaaaaaaaaaaa！
  .Footer