.MainChat
  .RightHeader
    .RightHeader__leftBox
      .RightHeader__currentGroup kari
      %ul.RightHeader__memberList
        Member :
        %li.RightHeader__member kami
    .RightHeader__editBtn Edit
  .MessageList
  .Footer