.SideBar
  .LeftHeader
    .LeftHeader__list
      %p.LeftHeader__userName kami
      %ul.LeftHeader__iconBox
        = LeftHeader__icon('far', 'edit')
        = LeftHeader__icon('fas', 'cog')

  .GroupList