.SideBar
  .LeftHeader
    .LeftHeader__list
      %p.LeftHeader__userName kami
      .LeftHeader__iconBox
        = link_to "#", class: "LeftHeader__iconBtn" do
          = icon('far', 'edit', class: 'LeftHeader__icon')
          %span<>
        = link_to "#", class: "LeftHeader__iconBtn" do
          = icon('fas', 'cog', class: 'LeftHeader__icon')
          %span<>

  .GroupList