.wrapper{
  display: flex;
  .SideBar{
    width: 300px;
    height: 100vh;
    background-color: #253141;
    .LeftHeader{
      height: 100px;
      display: flex;
      align-items: center;
      &__list{ 
        width: 260px;
        height: 20px;
        margin: 0 20px;
        display: flex;
        justify-content: space-between;
      }
      &__userName{
        color: #ffffff;
        font-size: 16px;
        font-weight: bolder;
      }
      &__iconBox{
        width: 60px;
        display: flex;
        justify-content: flex-end;
      }
      &__iconBtn{
        margin-left: 5px;
      }
      &__icon{
        color: #ffffff;
      }

    }


    .GroupList{
      height: calc(100vh - 100px);
      background-color: #2f3e51;
      &__box{
        padding: 20px 20px 40px 20px;
      }
      &__name{
        font-size: 15px;
        color: #ffffff;
        margin-bottom: 5px;
      }
      &__recentmessage{
        font-size: 11px;
        color: #ffffff;
      }
    }
  }
  .MainChat{
    width: calc(100vw - 300px);
    height: 100vh;
    background-color: #ffffff;
    .RightHeader{
      height: 100px;
      border-bottom: 1px solid #eeeeee;
      display: flex;
      justify-content: space-between;
      padding: 0 40px;
      &__currentGroup{
        color: #333333;
        margin: 35px 0 15px 0;
        font-size: 20px;
      }
      &__memberList{
        color: #999999;
        font-size: 12px;
        display: flex;
      }
      &__member{
        margin-left: 5px;

      }
      &__editBtn{
        height: 40px;
        font-size: 16px;
        color: #38aef0;
        border: 1px solid #38aef0;
        padding: 0 20px;
        line-height: 40px;
        margin-top: 28px;
        text-decoration: none ;
      }
    }
    .MessageList{
      height: calc(100vh - 190px);
      background-color: #fafafa;
      padding-top: 35px;
      &__messageBox{
        margin-left: 40px;
      }
      &__name{
        display: flex;
        font-size: 16px;
        font-weight: bolder;
        color: #333333;
      }
      &__date{
        font-size: 12px;
        margin-left: 10px;
        font-weight: normal;
        color: #999999;
      }
      &__message{
        font-size: 14px;
        color: #434A54;
        margin: 12px 0 46px;
      }
    }
    .Footer{
      height: 90px;
      background-color: #d2d2d2;
      .Form{
        &__area{
        }
        &__text{}
        &__image{
          &__icon{}
          &__file{}
        }
        &__submit{}
      }
    }
  }
}
.far fa-edit LeftHeader__icon{
  color: red;
}