.SideBar{
  width: 300px;
  height: 100vh;
  background-color: #253141;
  .LeftHeader{
    height: 100px;
    display: flex;
    align-items: center;
    &__list{ 
      width: 260px;
      height: 20px;
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
    }
    &__userName{
      color: #ffffff;
      font-size: 16px;
      font-weight: bolder;
    }
    &__iconBox{
      width: 60px;
      display: flex;
      justify-content: flex-end;
    }
    &__iconBtn{
      margin-left: 5px;
    }
    &__icon{
      color: #ffffff;
    }

  }
  .GroupList{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    &__box{
      padding: 20px 20px 40px 20px;
    }
    &__name{
      font-size: 15px;
      color: #ffffff;
      margin-bottom: 5px;
    }
    &__recentmessage{
      font-size: 11px;
      color: #ffffff;
    }
  }
}
